<div class="oembedVideo">
  <div class="oembedVideo-posterImageWrapper">
    <img class="oembedVideo-posterImageElement" srcset="
      {{ posterImage.src | resize(400, 225) }} 400w,
      {{ posterImage.src | resize(800, 450) }} 800w,
      {{ posterImage.src | resize(1110, 624) }} 1110w,
      {{ posterImage.src | resize(1600, 900) }} 1600w"
      src="{{ posterImage.src | resize(1110, 624) }}"
      sizes="(min-width: 1140px) 1110px, calc(100vw - 30px)"
      alt="{{ posterImage.alt }}">
  </div>
  <div class="oembedVideo-video">
    {{ oembedLazyLoad }}
  </div>
</div>
