<div class="flyntComponent {{ options.theme }}" is="flynt-hero-text-image">
  <div class="container container--{{ options.contentAlignment }} centerMaxWidthContainer">
    <div class="column column--content">
      {{ contentHtml|e('wp_kses_post') }}
    </div>
    <div class="column column--image">
      {% if image.post_mime_type == 'image/svg+xml' %}
        <img class="image" src="{{ image.src }}" alt="{{ image.alt|e }}">
      {% else %}
        <img
          class="image lazyload"
          src="{{ image.src|resizeDynamic(0, 600) }}"
          srcset="{{ placeholderImage(image.aspect * 600, 600) }}"
          data-srcset="
            {{ image.src|resizeDynamic(0, 400) }} {{ (image.aspect * 400)|round }}w,
            {{ image.src|resizeDynamic(0, 600) }} {{ (image.aspect * 600)|round }}w,
            {{ image.src|resizeDynamic(0, 800) }} {{ (image.aspect * 800)|round }}w,
            {{ image.src|resizeDynamic(0, 1000) }} {{ (image.aspect * 1000)|round }}w,
            {{ image.src|resizeDynamic(0, 1200) }} {{ (image.aspect * 1200)|round }}w"
          alt="{{ image.alt|e }}"
          data-sizes="auto">
      {% endif %}
    </div>
  </div>
</div>
