<flynt-component name="BlockWysiwyg" class="componentSpacing" {{ options.theme ? 'data-theme="' ~ options.theme ~ '"' }}>
  <div class="container">
    <div class="content" data-size="{{ options.size }}" data-align="{{ options.align }}" data-text-align="{{ options.textAlign }}">
      {{ contentHtml|e('wp_kses_post') }}
    </div>
  </div>
</flynt-component>
