<div class="flyntComponent componentSpacing {{ options.theme }}" is="flynt-block-wysiwyg">
  <div class="container centerMaxWidthContainer">
    <div class="content {{ options.size != 'sizeFull' ? 'centerContentMaxWidth'}}{{ options.size == 'sizeLarge' ? 'Large' }}" data-state="{{ textAlignment }}">
      {{ contentHtml|e('wp_kses_post') }}
    </div>
  </div>
</div>
