<div class="flyntComponent componentSpacing" {{ addAttribute('theme', options.theme) }} is="flynt-block-wysiwyg">
  <div class="container centerMaxWidthContainer">
    <div class="content{{ options.maxWidth != 'full' ? ' centerContentMaxWidth'}}{{ options.maxWidth == 'large' ? 'Large' }}" {{ addAttribute('text-align', textAlign) }}>
      {{ contentHtml|e('wp_kses_post') }}
    </div>
  </div>
</div>