<flynt-component client:visible name="BlockWysiwyg">
  <div class="flyntComponent componentSpacing" {{ options.theme ? 'data-theme="' ~ options.theme ~ '"' }} is="flynt-block-wysiwyg">
    <div class="container centerMaxWidthContainer">
      <div class="content{{ options.maxWidth != 'full' ? ' centerContentMaxWidth'}}{{ options.maxWidth == 'large' ? 'Large' }}" {{ textAlign ? 'data-text-align="' ~ textAlign ~ '"' }}>
        {{ contentHtml|e('wp_kses_post') }}
      </div>
    </div>
  </div>
</flynt-component>
