<div class="flyntComponent" is="flynt-list-title-text-list">
  <div class="container">
    <ul class="titleTextListBlocks">
      {% for titleTextItem in titleTextListBlocks %}
        <li>
          <div class="titleTextListBlocks-wrapper">
            <div class="heading">
              <h3 class="title h4">{{ titleTextItem.title }}</h3>
              <span class="subtitle">{{ titleTextItem.subtitle }}</span>
            </div>
            {% if titleTextItem.linkList %}
            <ul class="linkList">
              {% for linkItem in titleTextItem.linkList %}
                <li>
                  <a href="{{ linkItem.listLink.url }}"
                  target={% if linkItem.listLink.target %}"{{ linkItem.listLink.target }}" rel="noreferrer noopener"{% else %}"_self"{% endif %}
                  title="{{ linkItem.listLink.title|e }}">{{ linkItem.listLink.title|e }}</a>
                </li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
