<!DOCTYPE html>
<html class="no-js {{ body_class }}" lang="{{ site.language }}" dir="{{ dir }}" is="flynt-main-layout">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link href="{{ faviconPath|e('esc_url') }}" rel="shortcut icon" type="image/png">
    <link rel="apple-touch-icon" href="{{ appleTouchIcon180x180Path|e('esc_url') }}">
    <link rel="alternate" type="application/rss+xml" title="{{ feedTitle }}" href="{{ site.rss2|e('esc_url') }}">
    {{ wp_head }}
  </head>
  <body role="document">
    {{ area('mainTemplate') }}
    {{ wp_footer }}
  </body>
</html>
