<div class="flyntComponent componentSpacing {{ options.theme }}" is="flynt-block-image-text-cta">
  <div class="container centerMaxWidthContainer">
    <div class="box box--{{ imagePosition }}">
      <div class="box-inner box-inner--content">
        {{ contentHtml|e('wp_kses_post') }}
      </div>
      <div class="box-inner box-inner--image">
        <figure class="figure">
          <img class="figure-image lazyload"
            src="{{ image.src|resizeDynamic(665) }}"
            srcset="{{ placeholderImage(665, 665 / image.aspect) }}"
            data-srcset="
              {{ image.src|resizeDynamic(920) }} 920w,
              {{ image.src|resizeDynamic(815) }} 815w,
              {{ image.src|resizeDynamic(740) }} 740w,
              {{ image.src|resizeDynamic(665) }} 665w,
              {{ image.src|resizeDynamic(375) }} 375w"
            data-sizes="auto"
            alt="{{ image.alt|e }}">
          {% if image.caption %}
            <figcaption class="figure-caption">{{ image.caption|e }}</figcaption>
          {% endif %}
        </figure>
      </div>
    </div>
  </div>
</div>
