<div class="image">
  <img class="image-tag lazyload"
    src="{{ image.src|resizeDynamic(840) }}"
    srcset="{{ placeholderImage(840, 840 / image.aspect) }}"
    data-srcset="
      {{ image.src|resizeDynamic(840) }} 840w,
      {{ image.src|resizeDynamic(750) }} 750w,
      {{ image.src|resizeDynamic(640) }} 640w,
      {{ image.src|resizeDynamic(420) }} 420w,
      {{ image.src|resizeDynamic(375) }} 375w"
    data-sizes="auto"
    alt="{{ image.alt|e }}">
</div>
