<div is="flynt-form-newsletter-mailchimp" class="flyntComponent {{ options.theme ?: 'themeHero' }}">
  <div class="container centerMaxWidthContainer">
    <div class="content content--header centerContentMaxWidth">
      {{ contentHtml|e('wp_kses_post') }}
    </div>
    <form action="" class="formSubscribe">
      <label for="input-email" class="formSubscribe-label">{{ emailLabel }}</label>
      <input type="text" class="formSubscribe-input" id="input-email" {% if emailPlaceholder %}placeholder="{{ emailPlaceholder }}"{% endif %}>
      <button class="button button--secondary">{{ submitButton }}</button>
    </form>
    <div class="content content--footer centerContentMaxWidth">
      {% if contentFooterHtml %}
        {{ contentFooterHtml|e('wp_kses_post') }}
      {% endif %}
    </div>
  </div>
</div>