<div class="flyntComponent componentSpacing {{ options.theme }}" is="flynt-block-text-image-crop" >
  <div class="box box--{{ imagePosition }}">
    <div class="box-inner box-inner--image">
      <figure class="figure">
        <img class="figure-image lazyload"
          src="{{ image.src|resizeDynamic(1280) }}"
          srcset="{{ placeholderImage(1280, 1280 / image.aspect) }}"
          data-aspectratio="{{ image.aspect }}"
          data-srcset="
            {{ image.src|resizeDynamic(1920) }} 1920w,
            {{ image.src|resizeDynamic(1440) }} 1440w,
            {{ image.src|resizeDynamic(1280) }} 1280w,
            {{ image.src|resizeDynamic(1024) }} 1024w,
            {{ image.src|resizeDynamic(768) }} 768w,
            {{ image.src|resizeDynamic(375) }} 375w"
          data-sizes="auto"
          alt="{{ image.alt|e }}">
        {% if image.caption %}
          <figcaption class="figure-caption">{{ image.caption|e }}</figcaption>
        {% endif %}
      </figure>
    </div>
    <div class="box-inner box-inner--content">
      <div class="box-contentWrapper">
        {{ contentHtml|e('wp_kses_post') }}
      </div>
    </div>
  </div>
</div>
