<div class="postThumbnail">
  <a class="postThumbnail-link" href="{{ post.link }}" title="{{ post.title }}">
    {% if post.thumbnail.src %}
      <img class="postThumbnail-image" srcset="
        {{ post.thumbnail.src | resize(180, 180) }} 180w,
        {{ post.thumbnail.src | resize(375, 375) }} 375w,
        {{ post.thumbnail.src | resize(750, 750) }} 750w"
        src="{{ post.thumbnail.src }}"
        sizes="(max-width: 800px) 100vw, 180px">
    {% else %}
      <div class="postThumbnail-imagePlaceholder"></div>
    {% endif %}
  </a>
</div>
