<div class="postThumbnail">
  <a class="postThumbnail-link" href="{{ post.link }}" title="{{ post.title }}">
    {% if post.thumbnail.src %}
      <img class="postThumbnail-image" srcset="
        {{ post.thumbnail.src | resize(180, 180) }} 180w,
        {{ post.thumbnail.src | resize(450, 450) }} 450w,
        {{ post.thumbnail.src | resize(800, 800) }} 800w"
        src="{{ post.thumbnail.src }}">
    {% else %}
      <div class="postThumbnail-imagePlaceholder"></div>
    {% endif %}
  </a>
</div>
