<div class="flyntComponent" is="flynt-grid-posts">
  <div class="container">
    {% if preContentHtml %}
      <div class="preContent">{{ preContentHtml|e('wp_kses_post') }}</div>
    {% endif %}
    {% if terms %}
      <ul>
        {% for term in terms %}
          <li><a href="{{ term.link }}" class="{{ term.isActive ? 'active' }}">{{ term.title }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
    <ul class="gridPosts">
      {% for post in posts %}
        <li class="post">
          <a class="post-link" href="{{ post.link }}"{% if post.target == '_blank' %} target="_blank" rel="noreferrer noopener"{% endif %} title="{{ post.title|e }}">
            {% if post.thumbnail %}
              <figure class="figure">
                <img class="figure-image lazyload"
                  src="{{ post.thumbnail|resize(1280, 853) }}"
                  srcset="{{ placeholderImage(1280, 853) }}"
                  data-srcset="
                    {{ post.thumbnail|resize(1920, 1280) }} 1920w,
                    {{ post.thumbnail|resize(1280, 853) }} 1280w,
                    {{ post.thumbnail|resize(750, 500) }} 750w,
                    {{ post.thumbnail|resize(375, 250) }} 375w"
                  data-sizes="auto"
                  alt="{{ post.thumbnail.alt|e }}">
              </figure>
            {% endif %}
            <h3 class="h3 title">
              {{ post.title }}
            </h3>
          </a>
          <p>
            {{ post.preview.length(18).force }}
          </p>
        </li>
      {% else %}
        <p class="noPosts">{{ labels.noPostsFound }}</p>
      {% endfor %}
    </ul>
    {% set pagination = posts.pagination %}
    {% if pagination.pages %}
      <div class="pagination">
        {% if loadMore %}
          {% if pagination.next%}
            <div class="pagination-loadMore">
              <a data-action="loadMore" href="{{ pagination.next.link }}" class="button button--primary">{{ labels.loadMore }}</a>
            </div>
          {% endif %}
        {% else %}
          <div class="pagination-prevLink">
            <a href="{% if pagination.prev %}{{ pagination.prev.link }}{% else %}javascript:void(0){% endif %}"
              class="button {% if pagination.prev %}button--primary{% else %}button--disabled{% endif %}">{{ labels.previous }}</a>
          </div>
          <div class="pagination-nextLink">
            <a href="{% if pagination.next %}{{ pagination.next.link }}{% else %}javascript:void(0){% endif %}"
              class="button {% if pagination.next %}button--primary{% else %}button--disabled{% endif %}">{{ labels.next }}</a>
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>
