<div is="flynt-media-text-block">
  <div class="mediaTextBlock {{ mediaPosition }}">
    <div class="mediaTextBlock-columnMedia">
      {% if mediaType == 'mediaImage' %}
        <img class="mediaTextBlock-imageElement" srcset="
          {{ image.src | resize(576, 324) }} 576w,
          {{ image.src | resize(768, 432) }} 768w"
          src="{{ image.src }}"
          sizes="(min-width: 1140px) 1140px, 100vw"
          alt="{{ image.alt }}">
      {% else %}
        <div class="mediaTextBlock-videoWrapper">
          <div class="mediaTextBlock-posterImage">
            <img class="mediaTextBlock-imageElement" srcset="
              {{ posterImage.src | resize(576, 324) }} 576w,
              {{ posterImage.src | resize(768, 432) }} 768w"
              src="{{ posterImage.src }}"
              sizes="(min-width: 1140px) 1140px, 100vw"
              alt="{{ posterImage.alt }}">
          </div>
          <div class="mediaTextBlock-video">
            {{ oembedLazyLoad }}
          </div>
        </div>
      {% endif %}
    </div>
    <div class="mediaTextBlock-columnContentHtml">
      {{ contentHTML }}
    </div>
  </div>
</div>
