{% if posts %}
  <div class="flyntComponent" is="flynt-list-post-cards">
    <div class="container">
      {% if preHtmlContent %}
        <div class="preContent">{{ preHtmlContent }}</div>
      {% endif %}
      <ul class="list">
        {% for post in posts %}
          <li class="post">
            <a class="post-link" href="{{ post.link }}" {{ post.target == '_blank' ? 'target="_blank" rel="noreferrer noopener"' }} title="{{ post.title|e }}">
              {% if post.thumbnail %}
                <figure class="figure">
                  <img class="figure-image lazyload lazyload--fade"
                    src="{{ post.thumbnail|resize(1280, 853) }}"
                    srcset="{{ transparentPng(3/2) }}"
                    data-srcset="
                      {{ post.thumbnail|resize(1920, 1280) }} 1920w,
                      {{ post.thumbnail|resize(1280, 853) }} 1280w,
                      {{ post.thumbnail|resize(750, 500) }} 750w,
                      {{ post.thumbnail|resize(375, 250) }} 375w"
                    data-sizes="auto"
                    alt="{{ post.thumbnail.alt|e }}">
                </figure>
              {% endif %}
              <div class="content">
                {% if post.post_date %}
                  <time class="date" datetime="{{ post.post_date }}">{{ post.post_date | date }}</time>
                {% endif %}
                <h3 class="h4 title">
                  {{ post.title }}
                </h3>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
      {% if ctaButton %}
        <div class="postContent">
          <a class="btn btn--primary" href="{{ ctaButton.url }}"
          target={% if ctaButton.target %}"{{ ctaButton.target }}" rel="noreferrer noopener"{% else %}"_self"{% endif %}
          title="{{ ctaButton.title|e }}">{{ ctaButton.title|e }}</a>
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
