{% if posts %}
  <div class="flyntComponent" is="flynt-list-post-cards">
    <div class="container centerMaxWidthContainer">
      {% if preContentHtml %}
        <div class="preContent">
          {{ preContentHtml|e('wp_kses_post') }}
        </div>
      {% endif %}
      <ul class="listPostCards">
        {% for post in posts %}
          <li class="post">
            <a class="post-link" href="{{ post.link }}"{% if post.target == '_blank' %} target="_blank" rel="noreferrer noopener"{% endif %} title="{{ post.title|e }}">
              {% if post.thumbnail %}
                <figure class="figure">
                  <img class="figure-image lazyload"
                    src="{{ post.thumbnail|resize(1280, 853) }}"
                    srcset="{{ placeholderImage(1280, 853) }}"
                    data-srcset="
                      {{ post.thumbnail|resize(1920, 1280) }} 1920w,
                      {{ post.thumbnail|resize(1280, 853) }} 1280w,
                      {{ post.thumbnail|resize(750, 500) }} 750w,
                      {{ post.thumbnail|resize(375, 250) }} 375w"
                    data-sizes="auto"
                    alt="{{ post.thumbnail.alt|e }}">
                </figure>
              {% endif %}
              <div class="content">
                {% if post.post_date %}
                  <time class="content-date" datetime="{{ post.post_date }}">{{ post.post_date | date }}</time>
                {% endif %}
                <h3 class="content-title h4">
                  {{ post.title }}
                </h3>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
      {% if ctaButton %}
        <div class="postContent">
          <a class="button button--primary" href="{{ ctaButton.url|e('esc_url') }}"{% if ctaButton.target %} target="{{ ctaButton.target|e }}" rel="noreferrer noopener"{% endif %}>
            {{ ctaButton.title|e }}
          </a>
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
