<div class="heroImageText-boxed">
  <div class="heroImageText-boxed-wrapper">
    <div class="containerContent">
      <div class="content">
          {{ contentHtml }}
        </div>
    </div>
    <div class="containerImage">
      <div class="imageWrapper">
        <picture>
          <source media="(max-width: 320px)" srcset="
            {{ mobileImage.src | resize(218, 455) }} 1x,
            {{ mobileImage.src | resize(436, 910) }} 2x
          ">
          <source media="(max-width: 375px)" srcset="
            {{ mobileImage.src | resize(255, 467) }} 1x,
            {{ mobileImage.src | resize(510, 934) }} 2x
          ">
          <source media="(max-width: 424px)" srcset="
            {{ mobileImage.src | resize(282, 536) }} 1x,
            {{ mobileImage.src | resize(564, 1072) }} 2x
          ">
          <source media="(max-width: 768px)" srcset="
            {{ image.src | resize(422, 700) }} 1x,
            {{ image.src | resize(844, 1400) }} 2x
          ">
          <source media="(max-width: 991px)" srcset="
            {{ image.src | resize(550, 700) }} 1x,
            {{ image.src | resize(1100, 1400) }} 2x
          ">
          <source media="(max-width: 1200px)" srcset="
            {{ image.src | resize(750, 700) }} 1x,
            {{ image.src | resize(1500, 1400) }} 2x
          ">
          <source media="(max-width: 1500px)" srcset="
            {{ image.src | resize(1034, 700) }} 1x,
            {{ image.src | resize(2068, 1400) }} 2x
          ">
          <img
            class="image"
            srcset="{{ image.src | resize(1240, 839) }} 1x, {{ image.src | resize(2480, 1678) }} 2x" alt="{{ image.alt }}">
        </picture>
      </div>
    </div>
  </div>
</div>
