<div is="flynt-pagination-default" class="flyntComponent">
  <div class="pagination">
    <ul class="pagination-list">
      {% if pagination.prev %}
        <li class="pagination-item">
          <a href="{{ pagination.prev.link | trim('/') }}" class="pagination-prevLink">{{ previousLabel }}</a>
        </li>
      {% endif %}
      {% for page in pagination.pages %}
        <li class="pagination-item">
          <a href="{{ page.link }}" class="pagination-link {{ page.class }}">{{ page.title }}</a>
        </li>
      {% endfor %}
      {% if pagination.next %}
        <li class="pagination-item">
          <a href="{{ pagination.next.link | trim('/') }}" class="pagination-nextLink">{{ nextLabel }}</a>
        </li>
      {% endif %}
    </ul>
  </div>
</div>
