
{% if loadMore %}
  {% if pagination.next %}
    <div data-ref="pagination" class="pagination pagination--center">
      <div class="pagination-loadMore">
      <a data-ref="loadMore" href="{{ pagination.next.link }}" class="button">{{ labels.loadMore }}</a>
      </div>
    </div>
  {% endif %}
{% else %}
  <div data-ref="pagination" class="pagination {% if not pagination.prev %} pagination--prevDisabled{% endif %}">
    {% if pagination.prev %}
      <a href="{{ pagination.prev.link }}" class="pagination-previous button">{{ labels.previous }}</a>
    {% endif %}
    {% if pagination.next %}
      <a href="{{ pagination.next.link }}" class="pagination-next button">{{ labels.next }}</a>
    {% endif %}
  </div>
{% endif %}
