
{% if loadMore %}
  {% if pagination.next %}
    <div class="pagination pagination--center">
      <div class="pagination-loadMore">
      <a data-action="loadMore" href="{{ pagination.next.link }}" class="button button--small">{{ labels.loadMore }}</a>
      </div>
    </div>
  {% endif %}
{% else %}
  <div class="pagination {% if not pagination.prev %} pagination--prevDisabled{% endif %}">
    {% if pagination.prev %}
      <a href="{{ pagination.prev.link }}" class="pagination-previous button button--small"><i data-feather="arrow-left" class="arrow"></i> {{ labels.previous }}</a>
    {% endif %}
    {% if pagination.next %}
      <a href="{{ pagination.next.link }}" class="pagination-next button button--small">{{ labels.next }} <i data-feather="arrow-right" class="arrow"></i></a>
    {% endif %}
  </div>
{% endif %}
