<flynt-component name="FormPasswordProtection" class="componentSpacing" data-theme="dark">
  <div class="centerContainer maxWidth--container">
    <div class="centerContainer maxWidth--content">
      <div class="flowContent boxRadius boxPadding boxShadow" data-theme="reset">
        {{ contentHtml|e('wp_kses_post') }}
        <form action="{{ form.url }}" class="flowContent" method="post">
            <input name="post_password" type="password" size="20" maxlength="20" aria-label="{{ __('Password', 'flynt') }}" placeholder="{{ _x('Enter password', 'password form placeholder', 'flynt') }}" /><br>
            <button class="button oneInputForm-button" type="submit" name="Submit">{{ _x('Enter', 'post password form', 'flynt') }}</button>
        </form>
      </div>
    </div>
  </div>
</flynt-component>
