<flynt-component name="FormPasswordProtection" class="componentSpacing" data-theme="dark">
  <div class="container">
    <div data-size="medium" data-align="center">
      <div class="boxPadding" data-theme="reset">
        {{ contentHtml|e('wp_kses_post') }}
        <br>
        <form action="{{ form.url }}" method="post">
            <input name="post_password" type="password" size="30" maxlength="30" aria-label="{{ labels.inputAriaLabel|e }}" placeholder="{{ labels.inputPlaceholder|e }}" />
            <br><br>
            <button class="button oneInputForm-button" type="submit" name="Submit">{{ labels.buttonSubmit|e }}</button>
        </form>
      </div>
    </div>
  </div>
</flynt-component>
