<div class="flyntComponent" is="flynt-hero-image">
  <div class="heroImage" {% if backgroundColor %}style="background-color:{{ backgroundColor }}"{% endif %}>
    <div class="wrapper {% if boxed %}wrapper-boxed{% endif %}">
      <div class="containerContent">
        <div class="content {% if imagePosition %}content--left{% endif %} {% if fontColor %}content--whiteFont{% endif %}">
            {{ contentHtml|e('wp_kses_post') }}
          </div>
      </div>
      <div class="containerImage">
        <div class="imageWrapper {% if boxed %}imageWrapper-boxed{% endif %} imageWrapper-{{ overlay ? 'hasOverlay' : 'noOverlay' }} {% if imagePosition %}imageWrapper--left{% endif %}">
          <picture>
            <source media="(max-width: 320px)" data-srcset="
              {{ mobileImage.src | resize(218, 455) }} 218w,
              {{ mobileImage.src | resize(436, 910) }} 436w
            ">
            <source media="(max-width: 375px)" data-srcset="
              {{ mobileImage.src | resize(255, 467) }} 255w,
              {{ mobileImage.src | resize(510, 934) }} 510w
            ">
            <source media="(max-width: 424px)" data-srcset="
              {{ mobileImage.src | resize(282, 536) }} 282w,
              {{ mobileImage.src | resize(564, 1072) }} 564w
            ">
            <source media="(max-width: 768px)" data-srcset="
              {{ image.src | resize(422, 700) }} 422w,
              {{ image.src | resize(844, 1400) }} 844w
            ">
            <source media="(max-width: 991px)" data-srcset="
              {{ image.src | resize(550, 700) }} 550w,
              {{ image.src | resize(1100, 1400) }} 1100w
            ">
            <source media="(max-width: 1200px)" data-srcset="
              {{ image.src | resize(750, 700) }} 750w,
              {{ image.src | resize(1500, 1400) }} 1500w
            ">
            <source media="(max-width: 1500px)" data-srcset="
              {{ image.src | resize(1034, 700) }} 1034w,
              {{ image.src | resize(2068, 1400) }} 2068w
            ">
            <source data-srcset="
              {{ image.src | resize(1240, 839) }} 1240w,
              {{ image.src | resize(2480, 1678) }} 2480w
            ">
            <img
              class="image lazyload"
              data-sizes="auto"
              src="{{ image.src | resize(1240, 839) }}" alt="{{ image.alt|e }}">
          </picture>
        </div>
      </div>
    </div>
  </div>
</div>
