<div class="flyntComponent {{ options.theme }}" is="flynt-block-image">
  <div class="container">
    <div class="content centerMaxWidthContainer">
      <figure class="figure">
        <img class="figure-image lazyload"
          src="{{ image.src|resizeDynamic(1280) }}"
          srcset="{{ placeholderImage(1280, 1280 / image.aspect) }}"
          data-srcset="
            {{ image.src|resizeDynamic(1920) }} 1920w,
            {{ image.src|resizeDynamic(1280) }} 1280w,
            {{ image.src|resizeDynamic(750) }} 750w,
            {{ image.src|resizeDynamic(375) }} 375w"
          data-sizes="auto"
          alt="{{ image.alt|e }}">
        {% if image.caption %}
          <figcaption class="figure-caption">{{ image.caption|e }}</figcaption>
        {% endif %}
      </figure>
    </div>
  </div>
</div>
