<div class="flyntComponent" is="flynt-grid-teaser-tiles">
  <div class="container">
    <ul class="teaserGrid">
      {% for item in teaserItems %}
        <li class="teaser-item {% if not item.image %}noImage{% endif %} {% if item.itemWidth == 'half' %}halfWidth{% endif %} {% if item.itemWidth == 'full' %}fullWidth{% endif %}">
          {% if item.link %} <a href="{{ item.link.url }}">{% endif %}
            <div class="teaser-wrapper">
              {% if item.image %}
                <img
                  class="teaser-image lazyload"
                  srcset="{{ placeholderImage(306, 296) }}"
                  src="{{ item.image.src|resize(306, 296) }}"
                  data-srcset="
                  {{ item.image.src|resize(612, 582) }} 612w,
                  {{ item.image.src|resize(306, 296) }} 306w,
                  {{ item.image.src|resize(240, 360) }} 240w"
                  sizes="auto"
                alt="{{ item.image.alt|e }}">
                <div class="content">
                  <h4>{{ item.title|e }}</h4>
                </div>
              {% endif %}
              {% if not item.image %}
                <div class="contentBig">
                    {{ item.contentHtml }}
                </div>
              {% endif %}
            </div>
          {% if item.link %}</a>{% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
