<div class="flyntComponent componentSpacing {{ options.theme }}" is="flynt-grid-teaser-tiles">
  <div class="container">
    <ul class="teaserList">
      {% for item in teaserItems %}
        {% set teaserContent %}
          {% if item.itemType == 'wysiwyg' %}
            <div class="content">
              {{ item.contentHtml }}
            </div>
          {% elseif item.itemType == 'box' %}
            <img
              class="teaser-image lazyload"
              srcset="{{ placeholderImage(404, 404) }}"
              src="{{ item.image.src|resizeDynamic(404, 404) }}"
              data-srcset="
              {{ item.image.src|resizeDynamic(808, 808) }} 808w,
              {{ item.image.src|resizeDynamic(404, 404) }} 404w,
              {{ item.image.src|resizeDynamic(250, 250) }} 250w"
              sizes="auto"
              alt="{{ item.image.alt|e }}"
            >
          {% endif %}
        {% endset %}
        <li class="teaser teaser-{{ item.itemType }}">
          {% if item.itemType != 'wysiwyg' and item.link %}
            <a href="{{ item.link.url|e('esc_url') }}">
              {{ teaserContent }}
              <div class="title">
                <h4 class="h3">{{ item.link.title }}</h4>
              </div>
            </a>
          {% else %}
            {{ teaserContent }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
