<div class="flyntComponent themeDark" is="flynt-hero-slider">
  <script type="application/json">{{ jsonData|json_encode }}</script>
  <div data-slider class="slider swiper-container">
    <div class="swiper-wrapper">
      {% for slide in slides %}
      <div class="swiper-slide">
        <picture class="picture">
          <source srcset="
            {{ slide.images.imageDesktop.src | resizeDynamic(2560, 800, 'center') }} 2560w,
            {{ slide.images.imageDesktop.src | resizeDynamic(2048, 800, 'center') }} 2048w,
            {{ slide.images.imageDesktop.src | resizeDynamic(1440, 400, 'center') }} 1440w,
            {{ slide.images.imageDesktop.src | resizeDynamic(900, 400, 'center') }} 900w,
            {{ slide.images.imageDesktop.src | resizeDynamic(768, 400, 'center') }} 768w"
          media="(min-width: 768px)"
          sizes="100vw">
          {% set mobileImage = slide.images.imageMobile ? slide.images.imageMobile : slide.images.imageDesktop %}
          <img class="picture-imageEl {{ slide.images.mobileAlignImage }} {{ slide.images.desktopAlignImage }}" srcset="
            {{ mobileImage.src| resizeDynamic(375, 400) }} 375w,
            {{ mobileImage.src | resizeDynamic(750, 800) }} 750w"
          src="{{ mobileImage.src | resizeDynamic(375, 400) }}"
          sizes="100vw"
          alt="{{ slide.images.imageDesktop.alt|e }}">
        </picture>
        {% if slide.contentHtml %}
          <div class="container">
            <div class="content">
              {{ slide.contentHtml|e('wp_kses_post') }}
            </div>
          </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    {% if slides|length > 1 %}
      <div data-slider-pagination class="slider-pagination"></div>
      <button data-slider-button="prev" type="button" class="slider-button slider-button--prev">
        <i data-feather="arrow-left"></i>
      </button>
      <button data-slider-button="next" type="button" class="slider-button slider-button--next">
        <i data-feather="arrow-right"></i>
      </button>
    {% endif %}
  </div>
</div>
