<div is="wps-media-text-block">
  <div class="mediaTextBlock {{ mediaPosition }}">
    <div class="mediaTextBlock-columnMedia">
      {% if mediaType == 'mediaImage' %}
        <div class="mediaTextBlock-image">
          <img class="mediaTextBlock-imageElement" srcset="
            {{ image.src | resize(400, 200) }} 400w,
            {{ image.src | resize(800, 400) }} 800w,
            {{ image.src | resize(1200, 600) }} 1200w,
            {{ image.src | resize(1600, 800) }} 1600w"
            src="{{ image.src }}"
            sizes="(max-width: 800px) 50vw, 100vw">
        </div>
      {% else %}
        <div class="mediaTextBlock-oembedVideoContainer">
          <div class="mediaTextBlock-oembedPosterImage">
            <img class="mediaTextBlock-imageElement" srcset="
              {{ posterImage.src | resize(400, 200) }} 400w,
              {{ posterImage.src | resize(800, 400) }} 800w,
              {{ posterImage.src | resize(1200, 600) }} 1200w,
              {{ posterImage.src | resize(1600, 800) }} 1600w"
              src="{{ posterImage.src }}"
              sizes="(max-width: 800px) 50vw, 100vw">
          </div>
          <div class="mediaTextBlock-oembedVideo">
            {{ oembedLazyLoad }}
          </div>
        </div>
      {% endif %}
    </div>
    <div class="mediaTextBlock-columnContentHtml">
      {{ contentHTML }}
    </div>
  </div>
</div>
