<div is="flynt-oembed">
  <div class="oembed">
    <div class="oembed-videoWrapper">
      <div class="oembed-posterImage">
        <img class="oembed-imageElement" srcset="
          {{ posterImage.src | resize(576, 324) }} 576w,
          {{ posterImage.src | resize(768, 432) }} 768w,
          {{ posterImage.src | resize(1200, 675) }} 1200w"
          src="{{ posterImage.src }}"
          sizes="100vw"
          alt="{{ posterImage.alt }}">
      </div>
      <div class="oembed-video">
        {{ oembedLazyLoad }}
      </div>
    </div>
  </div>
</div>
