<div class="flyntComponent {{ options.theme }}" is="flynt-slider-image-gallery">
  <script type="application/json">{{ jsonData|json_encode }}</script>
  {% if preContentHtml %}
    <div class="preContent">
      {{ preContentHtml|e('wp_kses_post') }}
    </div>
  {% endif %}
  <div data-slider="main" class="swiper-container sliderMain">
    <div class="swiper-wrapper">
      {% for image in images %}
        <div class="swiper-slide sliderMain-item">
          <figure class="figure">
            <img class="figure-image lazyload"
              src="{{ image.src|resizeDynamic(0, 683) }}"
              srcset="{{ placeholderImage(image.aspect * 683, 683) }}"
              data-srcset="
                {{ image.src|resizeDynamic(0, 1300) }} {{ (image.aspect * 1300)|round }}w,
                {{ image.src|resizeDynamic(0, 1024) }} {{ (image.aspect * 1024)|round }}w,
                {{ image.src|resizeDynamic(0, 750) }} {{ (image.aspect * 750)|round }}w,
                {{ image.src|resizeDynamic(0, 683) }} {{ (image.aspect * 683)|round }}w,
                {{ image.src|resizeDynamic(0, 512) }} {{ (image.aspect * 512)|round }}w,
                {{ image.src|resizeDynamic(0, 385) }} {{ (image.aspect * 385)|round }}w,
                {{ image.src|resizeDynamic(0, 250) }} {{ (image.aspect * 250)|round }}w"
              data-sizes="auto"
              alt="{{ image.alt|e }}">
            {% if image.caption %}
              <figcaption class="figure-caption">{{ image.caption|e }}</figcaption>
            {% endif %}
          </figure>
        </div>
      {% endfor %}
    </div>
    <button type="button" data-slider-button="prev" class="sliderMain-button sliderMain-button--prev">
      <i data-feather="arrow-left"></i>
    </button>
    <button type="button" data-slider-button="next" class="sliderMain-button sliderMain-button--next">
      <i data-feather="arrow-right"></i>
    </button>
  </div>
  <div data-slider="thumb" class="swiper-container sliderThumb">
    <div class="swiper-wrapper">
      {% for image in images %}
        <div class="swiper-slide sliderThumb-item" style="width: {{ (image.aspect * 65)|round }}px">
          <figure class="figure">
            <img class="figure-image lazyload"
              srcset="{{ placeholderImage(image.aspect * 65, 65) }}"
              src="{{ image.src|resizeDynamic(0, 65) }}"
              data-srcset="
                {{ image.src|resizeDynamic(0, 65) }} {{ (image.aspect * 65)|round }}w,
                {{ image.src|resizeDynamic(0, 130) }} {{ (image.aspect * 130)|round }}w"
              alt="{{ image.alt|e }}">
          </figure>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
