<div class="flyntComponent" is="flynt-slider-image-gallery">
  <div class="container">
    <div class="slider slider-main">
        {% for image in images %}
          <div class="slide">
            <figure class="figure">
              <img class="figure-image lazyload lazyload--fade"
                src="{{ image.src|resize(1230) }}"
                srcset="{{ transparentPng(image.aspect) }}"
                data-srcset="
                  {{ image.src|resize(1920) }} 1920w,
                  {{ image.src|resize(1230) }} 1230w,
                  {{ image.src|resize(750) }} 750w,
                  {{ image.src|resize(375) }} 375w"
                data-sizes="auto"
                alt="{{ image.alt|e('html_attr') }}">
            </figure>
          </div>
        {% endfor %}
    </div>
    <div class="slider slider-thumb">
        {% for image in images %}
          <div class="slide">
            <figure class="figure">
              <img class="figure-image lazyload lazyload--fade"
                srcset="{{ transparentPng(image.aspect) }}"
                src="{{ image.src|resize(0, 65) }}"
                data-srcset="{{ image.src|resize(0, 65) }}"
                alt="{{ image.alt|e('html_attr') }}">
            </figure>
          </div>
        {% endfor %}
    </div>
  </div>
</div>
