<div class="flyntComponent componentSpacing {{ options.theme }}" is="flynt-list-icons">
  <div class="container centerMaxWidthContainer">
    {% if preContentHtml %}
      <div class="preContent">
        {{ preContentHtml|e('wp_kses_post') }}
      </div>
    {% endif %}
    <ul class="items items--{{ options.align }}">
      {% for item in items %}
      <li class="item">
        <div class="item-icon"><i class="feather" data-feather="{{ item.icon|e }}"></i></div>
        {% if item.textContentHtml %}
        <div class="item-content">
        {{ item.textContentHtml|e('wp_kses_post') }}
        </div>
        {% endif %}
        {% if item.link %}
          <div class="item-linkWrapper">
            <a href="{{ item.link.url }}" {{ item.link.target ? "target='#{item.link.target}' rel='noopener noreferrer'" }} class="item-link button button--link">
              {{ item.link.title ?: item.link.url }}
            </a>
          </div>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
