<div class="flyntComponent" is="flynt-list-icons">
<div class="container centerMaxWidthContainer">
  <div class="main">
    {% if preContentHtml %}
    <div class="main-content">
    {{ preContentHtml|e('wp_kses_post') }}
    </div>
    {% endif %}
  </div>
    <div class="items">
      {% for item in items %}
      <div class="item">
        <div class="item-icon"><i class="feather" data-feather="{{ item.icon|e }}"></i></div>
          <h3 class="item-title">{{ item.title }}</h3>
          <p class="item-text">{{ item.subtitle }}</p>
        <div class="item-linkWrapper">
          <a href="{{ item.link.url }}" class="item-link button--link">{{ item.link.title }}</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
