<div is="flynt-block-video-oembed" class="flyntComponent">
  <div class="blockVideoOembed">
    <div class="blockVideoOembed-videoWrapper">
      <div class="blockVideoOembed-posterImage">
        <img class="blockVideoOembed-imageElement" srcset="
          {{ posterImage.src | resize(576, 324) }} 576w,
          {{ posterImage.src | resize(768, 432) }} 768w,
          {{ posterImage.src | resize(1200, 675) }} 1200w"
          src="{{ posterImage.src }}"
          sizes="(min-width: 1140px) 1140px, 100vw"
          alt="{{ posterImage.alt }}">
      </div>
      <div class="blockVideoOembed-video">
        {{ oembedLazyLoad }}
      </div>
    </div>
  </div>
</div>
