<form action="{{fn('site_url', '/wp-login.php?action=postpass', 'login_post')}}" class="post-password-form" method="post">
  {{ __('This content is password protected. To view it please enter your password below:') }}
  <label for="pwbox-{{post.ID}}">{{ __('Password:') }}</label>
  <input name="post_password" id="pwbox-{{post.ID}}" type="password" size="20" maxlength="20" />
  <input type="submit" name="Submit" value="{{ __('Submit') | e('html_attr') }}" />
</form>
