<flynt-component name="GridImageText" class="componentSpacing" {{ options.theme ? 'data-theme="' ~ options.theme ~ '"' }}>
  <div class="container" data-flow="layout">
    {% if preContentHtml %}
      <div data-size="medium" data-align="{{ titleAlignment }}" data-text-align="{{ titleAlignment }}">
        {{ preContentHtml|e('wp_kses_post') }}
      </div>
    {% endif %}
    <ul class="grid" {{ options.card ? 'data-card="true"' }} {{ options.maxColumns ? 'data-max-columns="' ~ options.maxColumns ~ '"' }}>
      {% for item in items %}
        {% if item.image or item.contentHtml %}
          <li class="item {{- options.card ? ' boxBorder' -}}">
              {% if item.image %}
                <figure class="figure">
                  {% if item.image.post_mime_type == 'image/svg+xml' %}
                    <img
                      class="figure-image-svg lazyload"
                      src="{{ placeholderImage(768, (768 / 3 * 2)|round, 'rgba(125, 125, 125, 0.1)') }}"
                      width="768"
                      height="{{ (768 / 3 * 2)|round }}"
                      data-src="{{ item.image.src }}"
                      alt="{{ item.image.alt|e }}"
                    >
                  {% else %}
                    <img
                      class="figure-image lazyload"
                      src="{{ item.image.src|resizeDynamic(768, (768 / 3 * 2)|round, 'center') }}"
                      width="768"
                      height="{{ (768 / 3 * 2)|round }}"
                      srcset="{{ placeholderImage(768, (768 / 3 * 2)|round, 'rgba(125, 125, 125, 0.1)') }}"
                      data-srcset="
                        {{ item.image.src|resizeDynamic(1920, (1920 / 3 * 2)|round, 'center') }} 1920w,
                        {{ item.image.src|resizeDynamic(1600, (1600 / 3 * 2)|round, 'center') }} 1600w,
                        {{ item.image.src|resizeDynamic(1440, (1440 / 3 * 2)|round, 'center') }} 1440w,
                        {{ item.image.src|resizeDynamic(1366, (1366 / 3 * 2)|round, 'center') }} 1366w,
                        {{ item.image.src|resizeDynamic(1024, (1024 / 3 * 2)|round, 'center') }} 1024w,
                        {{ item.image.src|resizeDynamic(768, (768 / 3 * 2)|round, 'center') }} 768w,
                        {{ item.image.src|resizeDynamic(640, (640 / 3 * 2)|round, 'center') }} 640w"
                      data-sizes="auto"
                      alt="{{ item.image.alt|e }}">
                  {% endif %}
                </figure>
              {% endif %}
              {% if item.contentHtml %}
                <div class="content {{ options.card ? 'boxPadding' }}">
                  {{ item.contentHtml|e('wp_kses_post') }}
                </div>
              {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</flynt-component>
