<div class="flyntComponent componentSpacing {{ options.theme }} {{ options.card ? 'layoutCard' }}" is="flynt-grid-image-text">
  <div class="container centerMaxWidthContainer">
    {% if preContentHtml %}
      <div class="preContent">
        {{ preContentHtml|e('wp_kses_post') }}
      </div>
    {% endif %}
    <ul class="grid grid--columns{{ options.columns }}">
      {% for item in items %}
        {% if item.image or item.contentHtml %}
          <li class="grid-item">
            <div class="content {{ options.card == 'layoutCard' ? 'boxShadow themeReset' }}">
              {% if item.image %}
                <img class="content-image lazyload"
                  src="{{ item.image.src|resizeDynamic(424, 283) }}"
                  srcset="{{ placeholderImage(3, 2) }}"
                  data-srcset="
                    {{ item.image.src|resizeDynamic(1920, 1280) }} 1920w,
                    {{ item.image.src|resizeDynamic(1320, 880) }} 1320w,
                    {{ item.image.src|resizeDynamic(1280, 853) }} 1280w,
                    {{ item.image.src|resizeDynamic(1050, 700) }} 1050w,
                    {{ item.image.src|resizeDynamic(750, 500) }} 750w,
                    {{ item.image.src|resizeDynamic(600, 400) }} 600w,
                    {{ item.image.src|resizeDynamic(424, 283) }} 424w,
                    {{ item.image.src|resizeDynamic(312, 208) }} 312w"
                  data-sizes="auto"
                  alt="{{ item.image.alt|e }}">
              {% endif %}
              {% if item.contentHtml %}
                <div class="content-inner {{ options.card == 'layoutCard' ? 'boxPadding' }}">
                  {{ item.contentHtml|e('wp_kses_post') }}
                </div>
              {% endif %}
            </div>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
