<div class="flyntComponent componentSpacing {{ options.theme }}" is="flynt-accordion-default">
  <div class="container centerMaxWidthContainer">
    {% if preContentHtml %}
      <div class="preContent">
        {{ preContentHtml|e('wp_kses_post')}}
      </div>
    {% endif %}
    <div class="content centerContentMaxWidth">
      <ul class="accordion">
        {% for panel in accordionPanels %}
          <li class="panel">
            <button class="panel-trigger h3" type="button" aria-expanded="false" aria-controls="content-{{ loop.index }}">
              {{ panel.panelTitle|e }}
            </button>
            <div class="panel-content" aria-hidden="true" id="content-{{ loop.index }}">
              <div class="panel-inner">
                {{ panel.panelContent|e('wp_kses_post') }}
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
