<div class="flyntComponent" is="flynt-block-post-header">
  <div class="container centerMaxWidthContainer">
    <div class="content">
      <div class="content-title">
        <h1 class="content-h1">{{ post.title }}</h1>
      </div>
      <div class="content-meta">
        {% if post.date %}
          <time class="content-date">{{ post.date|date }}</time> {{ generalTranslatable.authorDivider|e }}
          <meta itemprop="dateModified" content="{{ post.dateModified|date('c') }}">
        {% endif %}
        {{ generalTranslatable.postedByLabel|e }} <a class="content-author" href="{{ post.author.link|e('esc_url') }}">{{ post.author.name }}</a>
        {{ generalTranslatable.postedInLabel|e }} <a class="content-category" href="{{ post.category.link|e('esc_url') }}">{{ post.category }}</a>
        {{ generalTranslatable.readingtimeDivider|e }} <span class="content-readingtime">{{ post.content|readingtime }} {{ generalTranslatable.readingtimeLabel|e }}</span>
      </div>
      {% if post.post_excerpt %}
        <div class="content-intro">
          <p class="h3">{{ post.post_excerpt }}</p>
        </div>
      {% endif %}
      {% if post.thumbnail %}
        <div class="content-media">
          {{ renderComponent('BlockImage', { image: post.thumbnail, options: { size: 'sizeLarge' } }) }}
        </div>
      {% endif %}
    </div>
  </div>
</div>
