<div class="flyntComponent {{ options.theme }}" is="flynt-grid-download-portrait">
  <div class="container">
    {% if preContentHtml %}
      <div class="preContent">
        {{ preContentHtml|e('wp_kses_post') }}
      </div>
    {% endif %}
    <ul class="downloadList">
      {% for item in items %}
        <li class="download">
          <div class="download-wrapper">
            {% if item.itemType == 'itemFile' %}
              <a class="download-link" href="{{ item.file.url|e('esc_url') }}" target="_blank" download="{{ item.file.title|e }}">
                <span class="download-content">
                  <h4 class="download-title">{{ item.file.title|e }}</h4>
                  <span class="download-fileSize">{{ item.file.fileSize|e }}</span>
                </span>
              </a>
            {% elseif item.itemType == 'itemLink' %}
              <a class="download-link" href="{{ item.link.url|e('esc_url') }}" target="_blank" rel="noreferrer noopener">
                <span class="download-content">
                  <h4 class="download-title">{{ item.link.title|e }}</h4>
                </span>
              </a>
            {% endif %}
            {% if item.image %}
              <img
                class="download-image lazyload"
                srcset="{{ placeholderImage(370, 555) }}"
                src="{{ item.image.src|resize(370, 555) }}"
                data-srcset="
                {{ item.image.src|resize(450, 675) }} 450w,
                {{ item.image.src|resize(370, 555) }} 370w,
                {{ item.image.src|resize(240, 360) }} 240w"
                sizes="auto"
                alt="{{ item.image.alt|e }}">
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
