<div class="post {{ post.thumbnail ? 'post-hasMedia' }}">
  {% if post.thumbnail %}
    <div class="media">
      <a class="media-link" href="{{ post.link }}" title="{{ post.link.title }}">
        {% include 'Partials/Image/index.twig' with { image: post.thumbnail } only %}
      </a>
    </div>
  {% endif %}
  <div class="content">
    <div class="meta">
      {% if post.date %}
        <time class="meta-date" datetime="{{ post.post_date }}">{{ post.date|date }}</time> {{ generalTranslatable.authorDivider|e }}
      {% endif %}
      {{ generalTranslatable.postedByLabel|e }} <a class="meta-author" href="{{ post.author.link }}">{{ post.author.name }}</a>
      {{ generalTranslatable.postedInLabel|e }} <a class="meta-category" href="{{ post.category.link }}">{{ post.category }}</a>
      {{ generalTranslatable.readingtimeDivider|e }} <span class="meta-readingtime">{{ post.content|readingtime }} {{ generalTranslatable.readingtimeLabel|e }}</span>
    </div>
    <h3 class="headline"><a href="{{ post.link }}">{{ post.title }}</a></h3>
    <p class="preview">{{ post.preview.read_more(generalTranslatable.readMoreLabel|e) }}</p>
  </div>
</div>
