<header class="postList-postHeader">
  <h2 class="postList-postTitle">
    <a class="postList-postLink" href="{{ post.permalink }}" title="{{ readMoreLabel }}: {{ post.title }}">{{ post.title }}</a>
  </h2>
  <p class="postList-postMeta">
    <a href="{{ post.authorPermalink }}" title="{{ post.author }}" class="postList-postAuthorLink">{{ post.author }}</a>
    <span class="postList-postDate">{{ publishedAtLabel }} {{ post.date }}</span>
  </p>
</header>
