<div class="anchorLink">
    <p class="description"> {{ description }}</p>
    <button data-copy-anchor-link class="button button-secondary anchorLink-button" aria-label="{{ buttonText }}" title="{{ buttonText }}"><span class="dashicons dashicons-admin-page"></span>{{ buttonText }}</button>
    <span class="anchorLink-message" data-copy-message>{{ copiedMessage }}</span>
</div>
