<div class="flyntAnchorLinkCopy">
  <input type="text" class="flyntAnchorLinkCopy-input" data-href="{{ href|e }}" readonly value="{{ href|e }}#">
  <div class="flyntAnchorLinkCopy-button">
    <button data-copy-anchor-link aria-label="{{ __("Copy to Clipboard", "flynt") }}">{{ copyIcon }}</button>
  </div>
  <span class="flyntAnchorLinkCopy-message" data-copy-message>{{ copiedMessage }}</span>
</div>
