<div class="flyntAnchorLinkCopy">
  <div class="flyntAnchorLinkCopy-container">
    <div class="flyntAnchorLinkCopy-input" data-href="{{ href|e }}">{{ href|e }}#</div>
    <div class="flyntAnchorLinkCopy-button">
      <button data-copy-anchor-link class="button" aria-label="{{ __("Copy to clipboard", "flynt") }}" title="{{ __("Copy to clipboard", "flynt") }}"><span class="dashicons dashicons-admin-page"></span></button>
    </div>
    <span class="flyntAnchorLinkCopy-message" data-copy-message>{{ copiedMessage }}</span>
  </div>
</div>
