<div class="flyntComponent" is="flynt-block-image-text-parallax">
  <div class="container centerMaxWidthContainer">
    <div class="box box--{{ imagePosition }}">
      <div class="box-inner box-inner--content {{ options.theme }}">
        <div class="box-copy" data-img-aspect-ratio="1.5">
          {{ contentHtml|e('wp_kses_post') }}
        </div>
      </div>
      <div class="box-inner box-inner--image rellax" data-parallax>
        <img class="figure-image lazyload"
          src="{{ image.src|resizeDynamic(792) }}"
          srcset="{{ placeholderImage(792, 792 / 1.5) }}"
          data-srcset="
            {{ image.src|resizeDynamic(1584, 1584 / 1.5) }} 1584w,
            {{ image.src|resizeDynamic(792, 792 / 1.5) }} 792w,
            {{ image.src|resizeDynamic(375, 375 / 1.5) }} 375w"
          data-sizes="auto"
          alt="{{ image.alt|e }}">
      </div>
    </div>
  </div>
</div>
