<div is="flynt-form-contact" class="flyntComponent {{ options.theme ?: 'themeDark' }}">
  <div class="container centerMaxWidthContainer">
    {% if contentHtml %}
        <div class="content content--{{ textAlignment }} centerContentMaxWidth">
          {{ contentHtml|e('wp_kses_post') }}
        </div>
    {% endif %}
    <form action="" class="form">
    	<div class="form-row">
	    	<div class="form-group">
	    		<label for="input-name" class="form-label">{{ firstName}}</label>
	    		<input type="text" id="input-name" class="form-input">
	    	</div>
	    	<div class="form-group">
	    		<label for="input-lastname" class="form-label">{{ lastName}}</label>
	    		<input type="text" id="input-lastname" class="form-input">
	    	</div>
    	</div>
    	<div class="form-group">
    		<label for="input-email" class="form-label">{{ email}}</label>
    		<input type="text" class="form-input" id="input-email">
    	</div>
    	<div class="form-row">
	    	<div class="form-group">
	    		<label for="input-tel" class="form-label">{{ mobilePhone}}</label>
	    		<input type="text" id="input-tel" class="form-input">
	    	</div>
	    	<div class="form-group">
	    		<label for="input-company" class="form-label">{{ company }}</label>
	    		<input type="text" id="input-company" class="form-input">
	    	</div>
    	</div>
		<label for="textarea-message" class="form-label">{{ message }}</label>
    	<textarea name="" id="textarea-message" cols="30" rows="10" class="form-textarea"></textarea>
    	<button class="button button--primary form-button">{{ buttonText }}</button>
    	<div class="form-footer form-footer--{{ textAlignmentFooter }}">
            {{ footerHtml }}
    	</div>
    </form>
  </div>
</div>
