<div is="wps-media-slider">
  <div class="mediaSlider">
    <ul class="mediaSlider-slides">
      {% for mediaSlide in mediaSlides %}
        <li class="mediaSlider-slide">
          {% if mediaSliderTitle and mediaSliderTitlePosition == 'above' %}
            <div class="mediaSlider-slideTitleWrapper">
              <div class="mediaSlider-slideTitle">
                {{ mediaSlide.titleText }}
              </div>
            </div>
          {% endif %}
          {% if mediaSlide.mediaType == 'image' %}
            <img class="mediaSlider-imageElement" srcset="
              {{ mediaSlide.image.src | resize(400, 200) }} 400w,
              {{ mediaSlide.image.src | resize(800, 400) }} 800w,
              {{ mediaSlide.image.src | resize(1200, 600) }} 1200w,
              {{ mediaSlide.image.src | resize(1600, 800) }} 1600w"
              src="{{ mediaSlide.image.src }}"
              sizes="100vw">
          {% elseif mediaSlide.mediaType == 'oembed' %}
            <div class="mediaSlider-oembed">
              <div class="mediaSlider-oembedVideoContainer">
                {% if mediaSliderUsePoster %}
                  <div class="mediaSlider-oembedPosterImage">
                    <img class="mediaSlider-imageElement" srcset="
                      {{ mediaSlide.image.src | resize(400, 200) }} 400w,
                      {{ mediaSlide.image.src | resize(800, 400) }} 800w,
                      {{ mediaSlide.image.src | resize(1200, 600) }} 1200w,
                      {{ mediaSlide.image.src | resize(1600, 800) }} 1600w"
                      src="{{ mediaSlide.image.src }}"
                      sizes="100vw">
                  </div>
                {% endif %}
                <div class="mediaSlider-oembedVideo">
                  {{ mediaSlide.oembedLazyLoad }}
                </div>
              </div>
            </div>
          {% endif %}
          {% if mediaSliderTitle and mediaSliderTitlePosition == 'below' %}
            <div class="mediaSlider-slideTitleWrapper">
              <div class="mediaSlider-slideTitle">
                {{ mediaSlide.titleText }}
              </div>
            </div>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
