{% if posts %}
  <ul class="searchList boxShadow">
    {% for post in posts  %}
      <li class="searchList-item boxPadding">
        <article class="post">
          <h3 class="post-title"><a class="post-title" href="{{ post.link }}">{{ post.title }}</a></h3>
          <p class="post-excerpt">{{ post.preview.length(40).read_more(false) }}</p>
          <footer class="post-footer">
            <a href="{{ post.link }}">{{ readMore }}</a>
          </footer>
        </article>
      </li>
    {% endfor %}
  </ul>
{% endif %}
