<div class="flyntComponent" is="flynt-hero-image-text">
  <picture>
    <source srcset="
      {{ images.imageDesktop.src | resizeDynamic(1440, 400, 'center') }} 1x,
      {{ images.imageDesktop.src | resizeDynamic(1440*2, 400*2, 'center') }} 2x"
    media="(min-width: 768px)"
    sizes="100vw">
    <img class="image"
      srcset="
        {{ images.imageMobile.src | resizeDynamic(375*2, 400*2) }} 2x,
        {{ images.imageMobile.src | resizeDynamic(375*3, 400*3) }} 3x"
      src="{{ images.imageMobile.src | resizeDynamic(375, 400) }}"
      sizes="100vw"
      alt="{{ images.imageDesktop.alt|e }}">
  </picture>
  {% if contentHtml %}
    <div class="content">
      <div class="content-inner">
        {{ contentHtml|e('wp_kses_post') }}
      </div>
    </div>
  {% endif %}
</div>
