<div class="flyntComponent" is="flynt-hero-image-text">
  <div class="container">
    <div class="wrapper">
      <picture>
        <source srcset="
          {{ images.imageDesktop.src | resize(2560, 800, 'center') }} 2560w,
          {{ images.imageDesktop.src | resize(2048, 800, 'center') }} 2048w,
          {{ images.imageDesktop.src | resize(1280, 400, 'center') }} 1280w,
          {{ images.imageDesktop.src | resize(900, 400, 'center') }} 900w,
          {{ images.imageDesktop.src | resize(768, 400, 'center') }} 768w"
        media="(min-width: 576px)"
        sizes="(min-width: 1280px) 1280px, 100vw">
        <img class="image" srcset="
          {{ images.imageMobile.src | resize(375, 400) }} 375w,
          {{ images.imageMobile.src | resize(750, 800) }} 750w"
        src="{{ images.mobileImage.src | resize(375, 400) }}"
        sizes="(min-width: 1280px) 1280px, 100vw"
        alt="{{ images.imageDesktop.alt|e('html_attr') }}">
      </picture>
      {% if contentHtml %}
        <div class="content">
          <div class="content-inner">
            {{ contentHtml|e('wp_kses_post') }}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
