<div is="flynt-block-cookie-notice" class="flyntComponent">
  <div class="container">
    <div class="content">
      <button type="button" class="btnClose mobile" aria-label="{{ closeButtonLabel }}"><span>{{ closeButtonLabel }}</span></button>
      {{ contentHtml }}
    </div>
    <button type="button" class="btnClose desktop" aria-label="{{ closeButtonLabel }}"><span>{{ closeButtonLabel }}</span></button>
  </div>
</div>
