<div class="preContent">
  {{ preContentHtml|e('wp_kses_post') }}
</div>
<form class="searchForm" role="search" action="{{ bloginfo('url') }}">
  <div class="searchForm-field boxShadow themeReset">
    <div class="searchForm-box">
      <label class="visuallyHidden" for="searchForm-input">{{ searchPlaceholder }}</label>
      <input name="s" id="searchForm-input" class="searchForm-input" type="search" required placeholder="{{ searchPlaceholder }}" value="{{ searchQuery }}">
    </div>
    <button class="searchForm-submit button" type="submit">{{ labels.search }}</button>
  </div>
</form>
