<div class="preContent">
  {{ preContentHtml }}
</div>
<form class="searchForm" role="search" action="{{ bloginfo('url') }}">
  <div class="searchForm-field boxShadow themeReset">
    <div class="searchForm-box">
      <input name="s" class="searchForm-input" type="search" required placeholder="{{ searchPlaceholder }}" value="{{ searchQuery }}">
    </div>
    <button class="searchForm-submit button" type="submit">{{ labels.search }}</button>
  </div>
</form>
