<div class="preContent">
  {{ preContentHtml|e('wp_kses_post') }}
</div>
<form class="searchForm" role="search" action="{{ bloginfo('url') }}" data-theme="reset">
  <div class="oneInputForm">
    <label class="visuallyHidden" for="searchForm-input-text">{{ labels.searchPlaceholder }}</label>
    <input name="s" class="input" id="searchForm-input-text" type="search" required placeholder="{{ labels.searchPlaceholder }}" value="{{ searchQuery }}">
    <button class="button" type="submit">{{ labels.search }}</button>
  </div>
</form>
