{% if posts|length > 0 %}
  <ul role="list" class="results">
    {% for post in posts  %}
      {% set ariaLabelledbyId = uuid ~ '-' ~ loop.index %}
      <li class="result boxBorder boxPadding" id="{{ ariaLabelledbyId }}" data-theme="reset">
        <article>
          <h2 class="h5">{{ post.title }}</h2>
          <p>{{ post.excerpt.read_more(false) }}</p>
          <footer>
            <a href="{{ post.link|e('esc_url') }}" aria-labelledby="{{ ariaLabelledbyId }}" class="link">{{ labels.readMore }}</a>
          </footer>
        </article>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <div class="noResults">
    <p>{{ labels.noResults }}</p>
  </div>
{% endif %}
