{% if posts|length > 0 %}
  <ul class="searchList">
    {% for post in posts  %}
      <li class="searchList-item boxRadius boxShadow themeReset boxPadding">
        <article class="post">
          <a href="{{ post.link }}" aria-label="{{ post.title }}" class="post-link">
            <h2 class="h3">{{ post.title }}</h2>
            <p>{{ post.preview.read_more(false) }}</p>
            <footer class="post-footer">
              <span class="button button--link" aria-hidden="true">{{ labels.readMore }}</span>
            </footer>
          </a>
        </article>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <div class="noResults boxPadding">
    <p>{{ labels.noResults }}</p>
  </div>
{% endif %}
