<div class="oembedVideo">
  <div class="oembedVideo-posterImage">
    <img class="oembedVideo-imageElement" srcset="
      {{ posterImage.src | resize(550, 309) }} 550w,
      {{ posterImage.src | resize(736, 414) }} 736w"
      src="{{ posterImage.src | resize(736, 414) }}"
      sizes="(min-width: 1140px) 550px, (min-width: 767px) calc((100vw - 30px) * .4925), calc(100vw - 30px)"
      alt="{{ posterImage.alt|e }}">
  </div>
  <div class="oembedVideo-video">
    {{ oembedLazyLoad }}
  </div>
</div>
