<div class="flyntComponent {{ options.theme }}" is="flynt-block-count-up">
  <div class="container centerMaxWidthContainer">
    {% if preContentHtml %}
      <div class="preContent centerContentMaxWidth">
        {{ preContentHtml|e('wp_kses_post')}}
      </div>
    {% endif %}
    <div class="blockCountUp">
    {% for item in items %}
        <div class="item item-count-{{ loop.length }}">
          <div class="icon"><i class="feather" data-feather="{{ item.icon|e }}"></i></div>
          <div class="countValue">
            <span class="number" data-number="{{ item.number|e }}" data-suffix="{{ item.numberSuffix|e }}" data-prefix="{{ item.numberPrefix|e }}">{{ item.number|e }}</span>
          </div>
          <div class="subtitle">{{ item.subtitle }}</div>
        </div>
    {% endfor %}
    </div>
  </div>
</div>
