<div class="flyntComponent componentSpacing {{ options.theme }}" is="flynt-block-count-up">
  <div class="container centerMaxWidthContainer">
    {% if preContentHtml %}
      <div class="preContent">
        {{ preContentHtml|e('wp_kses_post')}}
      </div>
    {% endif %}
    <div class="blockCountUp" data-separator-decimal="{{ decimalSeparator }}" data-separator-thousands="{{ thousandsSeparator }}">
    {% for item in items %}
        <div class="item item-count-{{ loop.length }}">
          <div class="icon"><i class="feather" data-feather="{{ item.icon|e }}"></i></div>
          <div class="countValue">
            <span
              class="number"
              data-number="{{ item.numberGroup.number|e }}"
              data-suffix="{{ item.numberGroup.numberSuffix|e }}"
              data-prefix="{{ item.numberGroup.numberPrefix|e }}">
              {{ item.numberGroup.numberPrefix|e }}0{{ item.numberGroup.numberSuffix|e }}
            </span>
          </div>
          <div class="subtitle">{{ item.subtitle }}</div>
        </div>
    {% endfor %}
    </div>
  </div>
</div>
