
<div class="flyntComponent componentSpacing {{ options.theme }}" is="flynt-grid-posts-archive">
  <div class="container centerMaxWidthContainer">
    <div class="preContent">
      <h1>{{ title }}</h1>
      {% set html = isHome ? preContentHtml : description %}
      {{ html|e('wp_kses_post') }}
    </div>
    {% if terms %}
      {% include 'Partials/_filter.twig' %}
    {% endif %}
    <ul class="posts">
      {% for post in posts %}
        <li class="post boxShadow boxRadius themeReset">
          <a class="post-link" href="{{ post.link }}" aria-label="{{ post.title }}">
            {% if post.thumbnail %}
              <figure class="figure">
                <img class="post-image figure-image lazyload"
                  src="{{ post.thumbnail.src|resizeDynamic(424, 283) }}"
                  width="{{ 424 }}"
                  height="{{ 283 }}"
                  srcset="{{ placeholderImage(424, 283, 'rgba(125, 125, 125, 0.1)') }}"
                  data-srcset="
                    {{ post.thumbnail.src|resizeDynamic(1920, 1280) }} 1920w,
                    {{ post.thumbnail.src|resizeDynamic(1320, 880) }} 1320w,
                    {{ post.thumbnail.src|resizeDynamic(1280, 853) }} 1280w,
                    {{ post.thumbnail.src|resizeDynamic(1050, 700) }} 1050w,
                    {{ post.thumbnail.src|resizeDynamic(760, 506) }} 760w,
                    {{ post.thumbnail.src|resizeDynamic(600, 400) }} 600w,
                    {{ post.thumbnail.src|resizeDynamic(424, 283) }} 424w,
                    {{ post.thumbnail.src|resizeDynamic(312, 208) }} 312w"
                  data-sizes="auto"
                  alt="{{ post.title }}">
              </figure>
            {% endif %}
            <div class="post-inner boxPadding">
              <h2 class="post-title h3">{{ post.title }}</h2>
              <p class="post-excerpt">{{ post.preview.read_more(false) }}</p>
            </div>
            <footer class="post-footer">
              <span class="post-readingTime">
                <i data-feather="clock"></i> {{ labels.readingTime|replace({'%d': post.content|readingtime}) }}
              </span>
              <span class="button button--link button--small post-readMore">{{ labels.readMore }}</span>
            </footer>
          </a>
        </li>
      {% else %}
        <p class="posts-empty">{{ labels.noPostsFound }}</p>
      {% endfor %}
    </ul>
    {% set pagination = posts.pagination %}
    {% if pagination.pages %}
      {% include 'Partials/_paginationButtons.twig' %}
    {% endif %}
  </div>
</div>
