<div class="flyntComponent componentSpacing {{ options.theme }}" is="flynt-block-image-text">
  <div class="container centerMaxWidthContainer">
    <div class="box box--{{ imagePosition }} centerContentMaxWidth">
      <div class="box-inner box-inner--image">
        <figure class="figure">
          <img class="figure-image lazyload"
            src="{{ image.src|resizeDynamic(750) }}"
            srcset="{{ placeholderImage(750, 750 / image.aspect) }}"
            data-srcset="
              {{ image.src|resizeDynamic(1920) }} 1920w,
              {{ image.src|resizeDynamic(1280) }} 1280w,
              {{ image.src|resizeDynamic(750) }} 750w,
              {{ image.src|resizeDynamic(375) }} 375w"
            data-sizes="auto"
            alt="{{ image.alt|e }}">
          {% if image.caption %}
            <figcaption class="figure-caption">{{ image.caption|e }}</figcaption>
          {% endif %}
        </figure>
      </div>
      <div class="box-inner box-inner--content">
        {{ contentHtml|e('wp_kses_post') }}
      </div>
    </div>
  </div>
</div>
