<flynt-component client:visible name="BlockPostFooter" class="componentSpacing">
  <div class="container centerMaxWidthContainer">
    <div class="centerContentMaxWidth">
      <hr>
      {% if post.terms('tag')  %}
        <span class="visuallyHidden">{{ labels.tagsLabel }}</span>
        <ul class="tags">
          {% for tag in post.terms('tag')  %}
            <li class="item">
              <a class="button button--text" href="{{ tag.link }}">{{ tag }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      <div class="author postContent">
        {% if post.author.avatar %}
          <a href="{{ post.author.link|e('esc_url') }}" aria-hidden="true" tabindex="-1">
            <img class="avatar" width="64" height="64" src="{{ post.author.avatar }}" alt="{{ post.author.name|e }}">
          </a>
        {% endif %}
        <div class="details">
          <p class="name">
            <a href="{{ post.author.link|e('esc_url') }}">
              <span class="visuallyHidden">{{ labels.postedByLabel }}</span>
              {{ post.author.name }}
            </a>
          </p>
          {% if post.author.meta.description %}
            <p class="description">{{ post.author.meta.description|e }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</flynt-component>
