<div class="flyntComponent" is="flynt-block-post-footer">
  <div class="container centerMaxWidthContainer">
    <div class="content centerContentMaxWidth">
      {% if post.terms('tag')  %}
        <span class="visuallyHidden">{{ labels.tagsLabel }}</span>
        <ul class="tags">
          {% for tag in post.terms('tag')  %}
            <li class="tags-item">
              <a class="tags-itemLink" href="{{ tag.link }}">{{ tag }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      <div class="author">
        {% if post.author.avatar %}
          <a class="author-avatarLink" href="{{ post.author.link|e('esc_url') }}" aria-hidden="true" tabindex="-1">
            <img class="author-avatarImage" src="{{ post.author.avatar }}" alt="{{ post.author.name|e }}">
          </a>
        {% endif %}
        <div class="author-info">
          <div class="h5 author-name">
            <a class="author-nameLink" href="{{ post.author.link|e('esc_url') }}">
              <span class="visuallyHidden">{{ labels.postedByLabel }}</span>
              {{ post.author.name }}
            </a>
          </div>
          {% if post.author.description %}
            <p class="author-description">{{ post.author.description|e }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
