<article class="postList-postArticle">
  <div class="postList-postContent">
    <div class="postList-postThumbnailWrapper">
      <a href="{{ post.permalink }}" title="{{ post.title }}">
        <img class="postList-postThumbnail" srcset="
          {{ post.thumbnail | resize(180, 180) }} 180w,
          {{ post.thumbnail | resize(450, 450) }} 450w,
          {{ post.thumbnail | resize(800, 800) }} 800w"
          src="{{ post.thumbnail }}">
      </a>
    </div>
    <div class="postList-postContentWrapper">
      {% include 'partials/postHeader/index.twig' %}
      {% include 'partials/postContent/index.twig' %}
      {% include 'partials/postFooter/index.twig' %}
    </div>
  </div>
</article>
