<div class="flyntComponent" is="flynt-slider-images">
  <div class="container">
    <div class="slider">
      {% for image in images %}
        <div class="slide">
          <figure class="figure">
            <img class="figure-image lazyload lazyload--fade"
              src="{{ image.src|resize(1280) }}"
              srcset="{{ transparentPng(image.aspect) }}"
              data-srcset="
                {{ image.src|resize(1920) }} 1920w,
                {{ image.src|resize(1280) }} 1280w,
                {{ image.src|resize(750) }} 750w,
                {{ image.src|resize(375) }} 375w"
              data-sizes="auto"
              alt="{{ image.alt|e('html_attr') }}">
            {% if image.caption %}
              <figcaption class="figure-caption">{{ image.caption|e }}</figcaption>
            {% endif %}
          </figure>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
