<flynt-component client:visible name="SliderImages" class="flyntComponent componentSpacing" {{ options.theme ? 'data-theme="' ~ options.theme ~ '"' }}>
  <script type="application/json">{{ jsonData|json_encode }}</script>
  <div class="centerMaxWidthContainer">
    {% if preContentHtml %}
      <div class="preContent">
        {{ preContentHtml|e('wp_kses_post') }}
      </div>
    {% endif %}
    <div data-ref="slider" class="slider swiper-container centerContentMaxWidthLarge boxRadius" data-theme="reset">
      <div class="swiper-wrapper">
        {% for image in images %}
          <div class="slider-item swiper-slide">
            <figure class="figure">
              <img class="figure-image swiper-lazy"
                src="{{ image.src|resizeDynamic(0, 540) }}"
                width="{{ (540 * image.aspect )|round }}"
                height="{{ 540 }}"
                srcset="{{ placeholderImage((540 * image.aspect)|round, 540, 'rgba(125, 125, 125, 0.1)') }}"
                data-srcset="
                  {{ image.src|resizeDynamic(0, 1080) }} {{ (image.aspect * 1080)|round }}w,
                  {{ image.src|resizeDynamic(0, 860) }} {{ (image.aspect * 860)|round }}w,
                  {{ image.src|resizeDynamic(0, 540) }} {{ (image.aspect * 540)|round }}w,
                  {{ image.src|resizeDynamic(0, 385) }} {{ (image.aspect * 385)|round }}w,
                  {{ image.src|resizeDynamic(0, 250) }} {{ (image.aspect * 250)|round }}w"
                data-sizes="auto"
                alt="{{ image.alt|e }}">
              {% if image.caption %}
                <figcaption class="figure-caption">{{ image.caption|e }}</figcaption>
              {% endif %}
            </figure>
          </div>
        {% endfor %}
      </div>
      <button type="button" data-ref="prev" class="slider-button slider-button--prev"></button>
      <button type="button" data-ref="next" class="slider-button slider-button--next"></button>
    </div>
  </div>
</flynt-component>
