{% if items|length > 0 %}
  <div class="flyntComponent componentSpacing {{ options.theme }}" is="flynt-grid-posts-latest">
    <div class="container centerMaxWidthContainer">
      {% if preContentHtml %}
        <div class="preContent">
          {{ preContentHtml|e('wp_kses_post') }}
        </div>
      {% endif %}
      <ul class="grid grid--columns{{ options.columns }}">
        {% for item in items %}
          <li class="grid-item">
            <div class="post boxShadow boxRadius themeReset">
              <a class="post-link" href="{{ item.link }}" aria-label="{{ item.title }}">
                {% if item.thumbnail %}
                  <figure class="figure">
                    {% set imgWidth = 424 %}
                    {% set imgHeight = 283 %}
                    {% set placeholderColor = 'rgba(125, 125, 125, 0.1)' %}

                    <img class="post-image figure-image lazyload"
                      src="{{ item.thumbnail.src|resizeDynamic(imgWidth, imgHeight) }}"
                      width="{{ imgWidth }}"
                      height="{{ imgHeight }}"
                      srcset="{{ placeholderImage(imgWidth, imgHeight, placeholderColor) }}"
                      data-srcset="
                        {{ item.thumbnail.src|resizeDynamic(1920, 1280) }} 1920w,
                        {{ item.thumbnail.src|resizeDynamic(1320, 880) }} 1320w,
                        {{ item.thumbnail.src|resizeDynamic(1280, 853) }} 1280w,
                        {{ item.thumbnail.src|resizeDynamic(1050, 700) }} 1050w,
                        {{ item.thumbnail.src|resizeDynamic(760, 506) }} 760w,
                        {{ item.thumbnail.src|resizeDynamic(600, 400) }} 600w,
                        {{ item.thumbnail.src|resizeDynamic(imgWidth, imgHeight) }} 424w,
                        {{ item.thumbnail.src|resizeDynamic(312, 208) }} 312w"
                      data-sizes="auto"
                      alt="{{ item.title }}">
                  </figure>
                {% endif %}
                <div class="post-inner boxPadding">
                  <h3 class="post-title">{{ item.title }}</h3>
                  <p class="post-excerpt">{{ item.preview.read_more(false) }}</p>
                </div>
                <footer class="post-footer">
                  <span class="post-readingTime">
                    <i data-feather="clock"></i> {{ labels.readingTime|replace({'%d': item.content|readingtime}) }}
                  </span>
                  <span class="button button--link button--small post-readMore">{{ labels.readMore }}</span>
                </footer>
              </a>
            </div>
          </li>
        {% endfor %}
      </ul>
      <div class="allPostsLink">
        <a href="{{ postTypeArchiveLink }}" class="button button--link">{{ labels.allPosts }}</a>
      </div>
    </div>
  </div>
{% endif %}
