<li class="postTeaser">
  {% if post.thumbnail %}
    <div class="thumbnail">
      <a class="thumbnail-link" href="{{ post.link }}">
        <img class="thumbnail-image" srcset="
      	  {{ post.thumbnail.src | resize(356) }} 356w,
      	  {{ post.thumbnail.src | resize(720) }} 720w"
      	  src="{{ post.thumbnail.src | resize(356) }}"
      	  sizes="100vw"
      	  alt="{{ post.thumbnail.alt|e('html_attr') }}">
      </a>
    </div>
  {% endif %}
  <div class="postTeaser-content">
    {% if post.post_date %}
      <time class="postTeaser-date" datetime="{{ post.post_date }}">{{ post.post_date | date }}</time>
    {% endif %}
    <h3 class="postTeaser-headline"><a href="{{ post.link }}" target="{{ post.target }}">{{ post.title }}</a></h3>
    <p>{{ post.get_preview(50, false, readMoreLabel, true, '&hellip;') }}</p>
  </div>
</li>
