<div class="flyntComponent themeDark" is="flynt-slider-images-centered">
  <script type="application/json">{{ jsonData|json_encode }}</script>
  <div class="container">
    {% if preContentHtml %}
      <div class="preContent centerContentMaxWidth">{{ preContentHtml|e('wp_kses_post') }}</div>
    {% endif %}
    <div class="slider swiper-container">
        <div class="swiper-wrapper">
          {% for image in images %}
            <div class="swiper-slide">
              <figure class="figure">
                <img class="figure-image lazyload"
                  src="{{ image.src|resize(0, 540) }}"
                  srcset="{{ placeholderImage(image.aspect * 540, 540) }}"
                  data-srcset="
                    {{ image.src|resize(0, 1080) }} {{ (image.aspect * 1080)|round }}w,
                    {{ image.src|resize(0, 750) }} {{ (image.aspect * 750)|round }}w,
                    {{ image.src|resize(0, 540) }} {{ (image.aspect * 540)|round }}w,
                    {{ image.src|resize(0, 385) }} {{ (image.aspect * 385)|round }}w,
                    {{ image.src|resize(0, 250) }} {{ (image.aspect * 250)|round }}w"
                  data-sizes="auto"
                  alt="{{ image.alt|e }}">
                {% if image.caption %}
                  <figcaption class="figure-caption">{{ image.caption|e }}</figcaption>
                {% endif %}
              </figure>
            </div>
          {% endfor %}
        </div>
        <div class="slider-pagination"></div>
        <button class="slider-button--prev"></button>
        <button class="slider-button--next"></button>
    </div>
  </div>
</div>
