<div class="flyntComponent" is="flynt-list-components">
  <div class="container">
    <ul class="components">
      {% for componentBlock in componentBlocks %}
        {% if componentBlock.readme %}
          <li class="component">
            {% if componentBlock.componentScreenshot %}
              <div class="component-screenshot">
                <div class="component-screenshotWrapper">
                  <img class="lazyload"
                      src="{{ placeholderImage(600, 600 / componentBlock.componentScreenshot.aspect) }}"
                      data-src="{{ componentBlock.componentScreenshot.src }}"
                      data-sizes="auto"
                      alt="{{ componentBlock.readme.title|e }}">
                </div>
              </div>
            {% endif %}
            <div class="component-content">
              <h2>{{ componentBlock.readme.title }}</h2>
              {% if componentBlock.readme.html %}
                <p>{{ componentBlock.readme.html }}</p>
              {% elseif componentBlock.readme.text %}
                <p>{{ componentBlock.readme.text }}</p>
              {% endif %}
              {% if componentBlock.ctas %}
                <p>
                  {% for cta in componentBlock.ctas %}
                    <a href="{{ cta.link.url }}" class="btn btn--{{ cta.buttonType }}">
                      {{ cta.link.title }}
                    </a>
                  {% endfor %}
                </p>
              {% endif %}
            </div>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
