<div class="flyntComponent componentSpacing {{ options.theme }}" is="flynt-list-components">
  <div class="container centerMaxWidthContainer">
    {% if preContentHtml %}
      <div class="preContent">
        {{ preContentHtml|e('wp_kses_post')}}
      </div>
    {% endif %}
    <ul class="components">
      {% for componentBlock in componentBlocks %}
        {% if componentBlock.readme %}
          <li class="component boxShadow">
            {% if componentBlock.ctas.primary %}
              <a href="{{ componentBlock.ctas.primary }}" class="component-link" aria-hidden="true" tabindex="-1">
            {% else %}
              <div class="component-link">
            {% endif %}
              {% if componentBlock.componentScreenshot %}
                <div class="component-image">
                  <div class="component-imageWrapper">
                    <img class="lazyload image {{ componentBlock.componentScreenshot.aspect > (1280/800) ? 'image--isSmallerThanWrapper' }} "
                        src="{{ placeholderImage(600, 600 / componentBlock.componentScreenshot.aspect) }}"
                        data-src="{{ componentBlock.componentScreenshot.src }}"
                        data-sizes="auto"
                        alt="{{ componentBlock.readme.title|e }}">
                  </div>
                </div>
              {% endif %}
              <div class="component-description boxPadding">
                <h2 class="h3">{{ componentBlock.readme.title }}</h2>
                {{ componentBlock.readme.description }}
              </div>
            {% if componentBlock.ctas.primary %}
              </a>
            {% else %}
              </div>
            {% endif %}
            {% if componentBlock.ctas.primary or componentBlock.ctas.secondary %}
              <footer class="component-footer">
                {% if componentBlock.ctas.secondary %}
                  <a href="{{ componentBlock.ctas.secondary }}" target="_blank" rel="noreferrer noopener" class="component-ctaSecondary">
                    <i data-feather="github"></i> {{ labels.code }}
                    <span class="visuallyHidden">{{ __("of Component", "flynt")}} {{ componentBlock.readme.title }}</span>
                  </a>
                {% endif %}
                {% if componentBlock.ctas.primary %}
                  <a href="{{ componentBlock.ctas.primary }}" class="button button--link component-ctaPrimary">
                  {{ labels.preview }}
                    <span class="visuallyHidden">{{ __("of Component", "flynt")}} {{ componentBlock.readme.title }}</span>
                  </a>
                {% endif %}
              </footer>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
