<nav is="flynt-navigation-main" class="flyntComponent" aria-label="{{ __("Main", "flynt") }}">
  <div class="wrapper">
    <div class="container centerMaxWidthContainer">
      <a class="logo" href="{{ site.link }}">
        <img class="logo-image" src="{{ logo.src }}" alt="{{ logo.alt }}">
      </a>
      {% if menu %}
        <ul class="menu">
          {% for item in menu.items %}
            <li class="menu-item {{ item.current ? 'menu-item--current' }}">
              <a class="menu-link" href="{{ item.link }}" {{ item.target == '_blank' ? 'target="_blank" rel="noopener noreferrer"' }}>{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
</nav>
